<h1> New Place </h1>
<%= form_with model: @place do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @place.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Create Place" %>
  </div>
<% end %>