<div class="container">
  <h1> <%= @place.name %> </h1>
    <% @entries.each do |entry| %>
      <div class="card mt-3">
        <div class="card-header text-center">
           <h3>
            <%= entry.title %>
          </h3>
        </div>
        <blockquote class="blockquote mb-2">
          <p> <%= entry.description %> </p>
          <footer class="blockquote-footer"> 
            <cite title="Source Title"> 
              Posted On 
          </cite>
          <%= entry.posted_on %>
        </footer>
      </blockquote>
    </div>
  <% end %>
  <div class="container mt-3">
    <%= link_to "New Post", new_entry_path(place_id: @place.id) %>
  </div>
</div>